/* common rules */
body {
    background: #fff;
    color: #525650;
    line-height: 1.5em;
    font: .9em Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: left;
}

a:link, a:visited {
	color: #3775a1;
}

a:hover {
	color: #b21260;
}

ul li {
	list-style-type: none;
}

.clear {
	clear:both;
	margin: 0 0 1em 0;
	height: .9em;
}

img {
	border: 0;
}

.gray, .g {
	color: #aaa;
}

/* main container - #cont */

#cont {
	margin: 0 auto;
	max-width: 900px;
	width: 90%;
}

/* header - #header */

#header {
	margin-top: 2.5em;
	margin-bottom: 3em;
}

#logo {
	font-size: 1.2em;
	font-weight: bold;
	background: url(/ico/logo.png) no-repeat;
	padding: .5em 0 .5em 2.1em;
	left: -2.1em;
}

#menu {
	float: right;
	margin: 0;
	padding: 0 1em 0 0;
}

#menu li {
	float: left;
    margin: .2em 0 0 2em;
    font-weight: bold;
    font-size: .9em;
}

/* content - #content */

#content {
	padding: 0;
	margin: 0;
	height: 430px;
	position: relative;
}

#social {
	float: right;
	width: 150px;
	padding: 1px;
	margin: 2em 0 0 0;
}

#social img {
	width: 150px;
	height: 150px;
	filter: alpha (opacity=70);
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
	opacity: 0.7;
}

#social img:hover {
	filter: alpha (opacity=100);
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	opacity: 1;
}

#about-me-menu, .about-info {
	width:	530px;
	float: left;
}

#about-menu {
	font-size: .9em;
	float: left;
	margin: 0 .1em 0 0;
	font-weight: bold;
}

#about-menu a {
	border-bottom: 1px dashed #3775a1;
	text-decoration: none;
	margin: 0 1em 0 1em;
	font-weight: normal;
}

#about-menu a:hover {
	color: #3775a1;
}

#about-menu a.active {
	padding: .3em;
	background-color: #3775a1;
	color: #fff;
	border-bottom: 0;
	margin: 0 .7em 0 .7em;
	cursor: default;
}

.about-info {
	margin: 2em 0 0 .5em;
	line-height: 27px;
}

/* footer - #footer */

#footer {
	position: relative;
	bottom: 2em;
	float:right;
}

/* 404 */

#content404 {
	padding: 0;
	margin: 3.5em auto 0 auto;
	font-size: 1.2em;
	width: 500px;
	line-height: 1.6em;
}

/* contacts */
.contacts {
	line-height: 28px;
	float: right;
	margin: 8em 7em 0 0;
}

.contacts_photo {
	margin: 0 0 0 7em;
}

.contacts_photo img {
	-webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}
